.basket{
    position:relative;
}

.cart-products{
    position:absolute;
    display:none;
    width: 255px;
    top: 100%;
    right: 0;
    background: #ffffff;
    border: 1px solid #000000;
    z-index: 1;
    padding-bottom:10px;
}

.cart-product{
    padding-top:10px;
}

.remove-product{
    width:20px;
    height:20px;
    color:#ff0000;
    text-decoration:none;
    cursor:pointer;
}

.remove-product:hover{
    color:#ff0000;
    text-decoration:none;
}